<main>
    <form class="product-form" action="{{actionRoute}}" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{ product.title }}">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image Url</label>
            <input type="text" name="imageUrl" id="imageUrl" value="{{ product.imageUrl }}">
        </div>
        <div class="form-control">
            <label for="title">Price</label>
            <input type="number" name="price" id="price" step="0.01" value="{{ product.price }}">
        </div>
        <div class="form-control">
            <label for="description">description</label>
            <textarea name="description" id="description" cols="30" rows="5">{{ product.description }}</textarea>
        </div>
        {{#if editing }}
            <input type="hidden" name="productID" value="{{ product._id }}">
            <button class="btn" type="submit">Update Product</button>
        {{else}}
            <button class="btn" type="submit">Add Product</button>
        {{/if}}
    </form>
</main>